Repository SamBaekSu/ProQ-Noti, pull requests merged in 2025-02, with the labels that each got.

#1 Feat: 템플릿 추가 및 초기 세팅
  client/.github/ISSUE_TEMPLATE/bug-template.md
  client/.github/ISSUE_TEMPLATE/feature-template.md
  client/.github/PULL_REQUEST_TEMPLATE.md
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/eslint.config.mjs
  client/next.config.ts
  client/package-lock.json
  client/package.json
  client/postcss.config.mjs
  client/public/manifest.json
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/src/app/provider.tsx
  client/src/lib/supabaseClient.ts
  client/tailwind.config.ts
  client/tsconfig.json
  client/yarn.lock
  eslint.config.mjs
Labels: ⚙️ conf

#3 feat: 카카오 로그인 기능 추가
  client/next.config.ts
  client/package-lock.json
  client/package.json
  client/public/sw.js
  client/public/workbox-4754cb34.js
  client/src/app/api/auth/callback/google/route.ts
  client/src/app/api/auth/callback/kakao/route.ts
  client/src/app/dashboard/page.tsx
  client/src/app/layout.tsx
  client/src/app/login/page.tsx
  client/src/app/middleware.ts
  client/src/app/page.tsx
  client/src/lib/supabaseClient.ts
  client/src/middleware.ts
  client/src/utils/supabase/actions.ts
  client/src/utils/supabase/client.ts
  client/src/utils/supabase/middleware.ts
  client/src/utils/supabase/server.ts
  client/yarn.lock
Labels: ✨ Feat

#6 feat : 폴더 구조 및 페이지 파일 생성
  README.md
  client/eslint.config.mjs
  client/src/app/api/auth/callback/google/route.ts
  client/src/app/api/auth/callback/kakao/route.ts
  client/src/app/dashboard/page.tsx
  client/src/app/myPage/page.tsx
  client/src/app/subscribe/page.tsx
Labels: 📃 Docs, ✨ Feat

#9 Feature/style and assets enhancements
  client/package-lock.json
  client/src/app/favicon.ico
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/src/fonts/KCC-Ganpan.woff
  client/src/fonts/Pretendard-Black.woff
  client/src/fonts/Pretendard-Bold.woff
  client/src/fonts/Pretendard-ExtraBold.woff
  client/src/fonts/Pretendard-ExtraLight.woff
  client/src/fonts/Pretendard-Light.woff
  client/src/fonts/Pretendard-Medium.woff
  client/src/fonts/Pretendard-Regular.woff
  client/src/fonts/Pretendard-SemiBold.woff
  client/src/fonts/Pretendard-Thin.woff
  client/tailwind.config.ts
  client/yarn.lock
Labels: 🖥️FE, 🎨 Html&Css

#11 feat: 서비스워커 등록
  client/next.config.ts
  client/package-lock.json
  client/package.json
  client/public/icon-192x192.png
  client/public/icon-512x512.png
  client/public/manifest.json
  client/public/sw.js
  client/public/workbox-4754cb34.js
  client/src/app/_notification/InstallPrompt.tsx
  client/src/app/_notification/PushNotificationManager.tsx
  client/src/app/actions.ts
  client/src/app/layout.tsx
  client/src/app/manifest.ts
  client/src/app/page.tsx
  client/tailwind.config.ts
  client/yarn.lock
Labels: ⚙️ conf, ✨ Feat, 🎨 Html&Css

#12 v0.0.3
  client/next.config.ts
  client/package-lock.json
  client/package.json
  client/public/icon-192x192.png
  client/public/icon-512x512.png
  client/public/manifest.json
  client/public/sw.js
  client/public/workbox-4754cb34.js
  client/src/app/_notification/InstallPrompt.tsx
  client/src/app/_notification/PushNotificationManager.tsx
  client/src/app/actions.ts
  client/src/app/favicon.ico
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/manifest.ts
  client/src/app/page.tsx
  client/src/fonts/KCC-Ganpan.woff
  client/src/fonts/Pretendard-Black.woff
  client/src/fonts/Pretendard-Bold.woff
  client/src/fonts/Pretendard-ExtraBold.woff
  client/src/fonts/Pretendard-ExtraLight.woff
  client/src/fonts/Pretendard-Light.woff
  client/src/fonts/Pretendard-Medium.woff
  client/src/fonts/Pretendard-Regular.woff
  client/src/fonts/Pretendard-SemiBold.woff
  client/src/fonts/Pretendard-Thin.woff
  client/tailwind.config.ts
  client/yarn.lock
Labels: 🌏 Deploy

#13 fix: 서비스워커 적용 오류 수정
  client/next.config.js
  client/next.config.ts
  client/public/sw.js
  client/public/workbox-4754cb34.js
  client/src/app/Pwa.tsx
  client/src/app/layout.tsx
  client/yarn.lock
Labels: 🐞 BugFix, ⚙️ conf

#14 v0.0.4
  client/next.config.js
  client/next.config.ts
  client/public/sw.js
  client/public/workbox-4754cb34.js
  client/src/app/Pwa.tsx
  client/src/app/layout.tsx
  client/yarn.lock
Labels: 🌏 Deploy

#16 feat:layout 설정
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/provider.tsx
  client/tailwind.config.ts
Labels: ✨ Feat, 🖥️FE, 🎨 Html&Css
